body {
    margin: 0px 0px;
    font-family: 'Poppins', sans-serif;
}

.container {

    margin: 0px 140px;
}

hr {
    color: white;
    width: 50%;
    margin-bottom: 50px;
}

section {
    margin-bottom: 100px;
}

.button {
    background: red;
    padding: 12px 22px;
    border-radius: 300px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

/* ------------
banner-part-css-start 
------------ */








.banner {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 20px;
}

.banner-image img {
    width: 390px;
}


.banner-text {
    width: 50%;
}

.banner-text h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 0px;
}

.banner-text p {
    color: #8f8f8f;
    margin-top: 0px;
}


/* ------------
banner-part-css-END 
------------ */



/* ------------
aside-part-css-START 
------------ */



.aside {
    min-width: 300px;
    max-height: 400px;
    background: black;
    border-radius: 43px;
}

.aside-button {
    background: white;
    margin-top: 50px;
    padding: 4px;
    width: 67%;
    border-radius: 30px;
    margin: auto;
    margin-top: 50px;
}


.aside-button a {

    color: black;
    text-decoration: none;

}

.aside-button p {
    text-align: center;
}

.aside-button.active {
    background: red;
}

.aside-button .active a {
    color: white;
}


.body-part-website {
    display: flex;
    justify-content: space-around;

}

/* ------------
aside-part-css-END 
------------ */



/*--------------
-------------- article-part-START */

.articles {
    display: grid;
    grid-template-columns: revert;
    grid-template-columns: repeat(3, 1fr);
}

.article {
    margin-left: 28px;
    margin-top: 20px;
    border: 1px solid darkgrey;
    border-radius: 20px;
    box-shadow: 4px -1px 19px grey;
}


.post-status p {
    border: 1px solid black;
    display: inline-block;
    padding: 2px 20px;
    border-radius: 20px;

}

.post-title p {
    margin-top: 0px;
}

.post-engagements {
    display: flex;

}

.comments {
    margin-left: 30px;
}

i.fa-regular.fa-clock {
    margin-right: 10px;
}

i.fa-regular.fa-comment {
    margin-right: 10px;
}

.post-details {
    margin: 0px 16px;
}

.post-image img {
    width: 100%;
}

/*--------------
-------------- article-part-END */




/*-----------
-------------footer-css-START */
footer {
    background-color: black;
}


footer h1 {
    margin-bottom: 0px;

    color: white;
    text-align: center;
    padding: 41px;
    font-size: 80px;
}

.footer-under-text {
    display: flex;
    justify-content: space-around;
}

.footer-under-text p {
    font-size: 15px;
    color: white;
}

.social-icons p {
    color: white;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0px 40px;
    font-size: 27px;
}

/*-----------
-------------footer-css-END */




.flags {
    display: flex;
}

.matches {
    border: 2px solid darkgrey;
    padding: 21px;
    max-height: 144px;
}

.team-1 img {
    margin-right: 20px;
}

.team-2 img {
    margin-left: 20px;
}

.all-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}





/* .....................
........................media-query.. */

/* # Tablet */
@media only screen and (max-width:801px) {



    .container {
        margin: 0px 40px;
    }

    .banner-text h1 {
        color: white;
        font-size: 30px;
        margin-bottom: 0px;
    }


    .body-part-website {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .article {
        /* margin-left: 28px; */
        margin-top: 20px;
        border: 1px solid darkgrey;
        border-radius: 20px;
        box-shadow: 4px -1px 19px grey;
        /* padding: 10px; */
        margin: 20px;
    }

    .aside-button {
        background: white;
        /* width: 33%; */
        border-radius: 30px;
        /* margin: auto; */
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0px 0px;
        margin: 10px;
    }


    .aside {
        display: flex;
        /* justify-content: space-between; */
    }

    .articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }





}